<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB3T2zrZbAD84yAV25Igei_RsFNvNa_q_I</string>
	<key>GCM_SENDER_ID</key>
	<string>99169064498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.helloworld</string>
	<key>PROJECT_ID</key>
	<string>trofi-app-459712</string>
	<key>STORAGE_BUCKET</key>
	<string>trofi-app-459712.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99169064498:ios:6e5d3364431fb189218e2b</string>
</dict>
</plist>